<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crop Disease Diagnosis and Management</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <style></style>
</head>

<body>
    <h1>Crop Disease Diagnosis and Management</h1>

    <form>
        <label for="plantDropdown">Select a Plant:</label>
        <select id="plantDropdown"></select>
        <div class="button-container">
            <button type="button" onclick="fetchSymptoms()">Show Symptoms</button>
            <button type="button" onclick="fetchDiseases()">Show Diseases</button>
        </div>
    </form>

    <div id="symptomsContainer" class="scrollable-container"></div>
    <div id="diseasesContainer" class="scrollable-container"></div>

    <button type="button" id="diagnoseButton" style="display: none" class="diagnoseButton">Diagnose</button>
    <button type="button" id="submitDiseasesButton" style="display: none" class="diagnoseButton">Submit
        Diseases</button>

    <div id="results"></div>

    <script>
        let selectedPlantName;
        // Fetch plant names from the Flask endpoint and populate the dropdown
        fetch("/plant_names")
            .then((response) => response.json())
            .then((data) => {
                const plantDropdown = document.getElementById("plantDropdown");
                data.plant_names.forEach((plant) => {
                    const option = document.createElement("option");
                    option.value = plant;
                    option.text = plant;
                    plantDropdown.appendChild(option);
                });
            })
            .catch((error) => console.error("Error fetching plant names:", error));

        function fetchSymptoms() {
            const symptomsContainer = document.getElementById("symptomsContainer");
            const diseasesContainer = document.getElementById("diseasesContainer");

            symptomsContainer.style.display = "block";
            diseasesContainer.style.display = "none";

            // Do not re-declare selectedPlantName here
            selectedPlantName = document.getElementById("plantDropdown").value;

            // Fetch symptoms for the selected plant from the Flask endpoint
            fetch(`/plant_symptoms/${selectedPlantName}`)
                .then((response) => {
                    if (!response.ok) {
                        throw new Error(`Plant not found: ${selectedPlantName}`);
                    }
                    return response.json();
                })
                .then((data) => {
                    const symptomsContainer =
                        document.getElementById("symptomsContainer");
                    symptomsContainer.innerHTML = "";

                    // Create columns to group symptoms
                    const numColumns = 2;
                    const symptomsColumns = Array.from({ length: numColumns }, (_, i) =>
                        document.createElement("ul")
                    );
                    let currentColumnIndex = 0;

                    // Populate symptoms as selectable checkboxes
                    data.plant_symptoms.forEach((symptom) => {
                        splitSentences(symptom).forEach((sentence) => {
                            const listItem = document.createElement("li");
                            const checkbox = document.createElement("input");
                            checkbox.type = "checkbox";
                            checkbox.value = sentence;
                            listItem.appendChild(checkbox);
                            listItem.appendChild(document.createTextNode(sentence));
                            symptomsColumns[currentColumnIndex].appendChild(listItem);


                            // Move to the next column
                            currentColumnIndex = (currentColumnIndex + 1) % numColumns;
                        });
                    });

                    // Append columns to the container
                    symptomsColumns.forEach((column, index) => {
                        const columnDiv = document.createElement("div");
                        columnDiv.className = "symptom-column";
                        columnDiv.appendChild(column);
                        symptomsContainer.appendChild(columnDiv);
                    });

                    // Show the "Diagnose" button
                    document.getElementById("diagnoseButton").style.display = "block";
                    // Hide the "Submit Diseases" button
                    document.getElementById("submitDiseasesButton").style.display = "none";
                })
                .catch((error) => console.error("Error fetching symptoms:", error));
        }

        function fetchDiseases() {
            const symptomsContainer = document.getElementById("symptomsContainer");
            const diseasesContainer = document.getElementById("diseasesContainer");

            symptomsContainer.style.display = "none";
            diseasesContainer.style.display = "block";

            selectedPlantName = document.getElementById("plantDropdown").value;

            // Fetch diseases for the selected plant from the Flask endpoint
            fetch(`/plant_diseases/${selectedPlantName}`)
                .then((response) => {
                    if (!response.ok) {
                        throw new Error(`Plant not found: ${selectedPlantName}`);
                    }
                    return response.json();
                })
                .then((data) => {
                    const diseasesContainer =
                        document.getElementById("diseasesContainer");
                    diseasesContainer.innerHTML = "";

                    // Create columns to group diseases
                    const numColumns = 2; // Adjust the number of columns as needed
                    const diseasesColumns = Array.from({ length: numColumns }, (_, i) =>
                        document.createElement("ul")
                    );
                    let currentColumnIndex = 0;

                    // Populate diseases as selectable checkboxes
                    data.plant_diseases.forEach((disease) => {
                        splitSentences(disease).forEach((sentence) => {
                            const listItem = document.createElement("li");
                            const checkbox = document.createElement("input");
                            checkbox.type = "checkbox";
                            checkbox.value = sentence;
                            listItem.appendChild(checkbox);
                            listItem.appendChild(document.createTextNode(sentence));
                            diseasesColumns[currentColumnIndex].appendChild(listItem);

                            // Move to the next column
                            currentColumnIndex = (currentColumnIndex + 1) % numColumns;
                        });
                    });

                    // Append columns to the container
                    diseasesColumns.forEach((column, index) => {
                        const columnDiv = document.createElement("div");
                        columnDiv.className = "disease-column";
                        columnDiv.appendChild(column);
                        diseasesContainer.appendChild(columnDiv);
                    });

                    // Hide the "Diagnose" button
                    document.getElementById("diagnoseButton").style.display = "none";
                    // Show the "Submit Diseases" button
                    document.getElementById("submitDiseasesButton").style.display = "block";
                })
                .catch((error) => console.error("Error fetching diseases:", error));
        }

        function submitSelections() {
            // Use the selectedPlantName variable here
            const plantName = selectedPlantName;
            console.log("plantName", plantName);
            const selectedSymptoms = Array.from(
                document.querySelectorAll(".symptom-column input:checked")
            ).map((checkbox) => checkbox.value);
            const selectedDiseases = Array.from(
                document.querySelectorAll(".disease-column input:checked")
            ).map((checkbox) => checkbox.value);

            // Send selected symptoms and diseases to the Flask endpoint
            fetch(`/match_selections/${plantName}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    selected_symptoms: selectedSymptoms,
                    selected_diseases: selectedDiseases,
                }),
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json();
                })
                .then((data) => {
                    // Redirect to the results page
                    window.location.href = `/results?matchedDiseases=${encodeURIComponent(
                        JSON.stringify(data.matched_diseases)
                    )}`;
                })
                .catch((error) =>
                    console.error("Error matching symptoms and diseases:", error)
                );
        }

        // Button for diagnosing symptoms and submitting diseases
        document.getElementById("diagnoseButton").addEventListener("click", submitSelections);
        document.getElementById("submitDiseasesButton").addEventListener("click", submitSelections);

        function splitSentences(text) {
            const sentences = text.split(
                /(?<!\w\.\w.)(?<![A-Z][a-z]\.)(?<=\.|\;)\s/g
            );
            return sentences.map((sentence) => sentence.trim());
        }
    </script>
</body>

</html>